[Desktop Entry]
Version=1.0
Name=Discord
Exec=/home/riley/.local/bin/launch-webapp https://discord.com/channels/@me
Terminal=false
Type=Application
Icon=/home/riley/.local/share/applications/icons/Discord.png
StartupNotify=true
Categories=Network;Chat;
